snakemake/data
snakemake/out
.snakemake
.ipynb_checkpoints
# sphinx documentation
docs/_build/
# python cache
__pycache__
# pytest and testing-related caches
.pytest_cache
.coverage*
.nox
# poetry
dist/
# filprofiler
fil-result/

# OSX
*.DS_Store*

# Test output files
test.par
test.phen
example_simgenotype.bp
example_simgenotype.vcf
